<div class="container">
  <h1 class="title">{{plan.activity}}</h1>

  {{#plan.creatorId}}
  <div class="user-info">
    <img class="user-avatar" src="{{profilePhoto}}" alt="{{username}} profile picture">
    <h4>by <a href="/auth/profile/{{_id}}">{{username}}</a>
      <span class="when">{{moment createdAt fromNow=true}} ago</span></h4>
  </div>
  {{/plan.creatorId}}

  {{#if plan.date}}
  <div class="sub-section">
    <h3 class="subtitle">When</h3>
    {{#if plan.date}}
      {{moment plan.date format="dddd DD MMMM - HH:mm"}}
    {{/if}}
  </div>
  {{/if}}

  {{#if plan}}
  <div class="sub-section">
    <h4 class="subtitle">Type of plan</h4>
    <span>{{plan.type}}</span>
  </div>

  {{#if plan.invitees}}
  <div class="sub-section">
    <h4 class="subtitle">Invitees:</h4>
    <ul>
      {{#each plan.invitees}}
      <li>
        <a href="/auth/profile/{{_id}}">{{username}}</a>

        <form action="/plans/{{../plan._id}}/deleteInvitee/{{_id}}" method="post">
          <button class="btn btn-primary" type="submit">Remove</button>
        </form>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  <br><br>

  <h3 class="title">Choose / Edit a Date</h3>

  <form class="setDate" action="/plans/{{plan._id}}/edit-date" method="post">
    <div class="form-group">
      <label for="date">Select date</label>
      <input type="date" name="date" placeholder="Date" />
    </div>

    <div class="form-group">
      <label for="time">Time</label>
      <input type="time" name="time">
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Confirm date</button>
    </div>
  </form>

  <h3 class="title">Invite friends</h3>

  <div class="invitations">
    <form>
      <div class="form-group">
        <label for="search">Search a friend</label>
        <input id="searchInput" type="text" name="search" placeholder="" />
      </div>
    </form>

    <div class="search-results-container">
      <div id="search-results"></div>
      <div id="invited-users">
        <ul></ul>
        <button class="btn btn-primary" onclick="debouncedSendEmails()">Invite friend(s)</button>
      </div>
    </div>
  </div>

  <h3 class="title">Comments ({{plan.comment.length}})</h3>

  {{#if plan.comment}}
  <ul>
    {{#each plan.comment}}
    <li>
      <div class="user-info">
        <img class="user-avatar" src="{{authorId.profilePhoto}}" alt="{{authorId.username}} profile picture">
        <h4>by <a href="/{{authorId._id}}">{{authorId.username}}</a>
          <span class="when">{{moment createdAt fromNow=true}} ago</span>
        </h4>
      </div>
      <p>{{comment}}</p>
    </li>
    {{/each}}
  </ul>

  {{else}}
  <p>There are no comments for this entry</p>
  {{/if}}

  <form action="/plans/{{plan._id}}/edit" method="post">
    <div class="form-group">
      <input type="text" name="comment" placeholder="Your comment" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Add comment</button>
    </div>
  </form>

  {{else}}
  <h4>This plan doesn't exist</h4>
  {{/if}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="../javascripts/planHandler.js"></script>